<a href="systems/pf1/help/index.hbs">{{{localize "PF1.Help.Nav.Home"}}}</a>
<ul>
    <li><a href="systems/pf1/help/actors.hbs">{{{localize "PF1.Help.Nav.Actors"}}}</a></li>
    <li><a href="systems/pf1/help/items.hbs">{{{localize "PF1.Help.Nav.Items"}}}</a></li>
    <ul>
        <b>{{{localize "PF1.Help.Nav.ItemTypes"}}}</b>
        <li><a href="systems/pf1/help/items/weapons.hbs">{{{localize "PF1.Help.Content.Items.Weapons.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/equipment.hbs">{{{localize "PF1.Help.Content.Items.Equipment.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/consumables.hbs">{{{localize "PF1.Help.Content.Items.Consumables.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/containers.hbs">{{{localize "PF1.Help.Content.Items.Containers.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/loot.hbs">{{{localize "PF1.Help.Content.Items.Loot.Label"}}}</a></li>
        <b>{{{localize "PF1.Help.Nav.Concepts"}}}</b>
        <li><a href="systems/pf1/help/items/concepts/description.hbs">{{{localize "PF1.Help.Content.Items.Description.Label"}}}</a></li>
        <li><a href="systems/pf1/help/items/concepts/changes.hbs">{{{localize "PF1.Help.Content.Items.Changes.Label"}}}</a></li>
    </ul>
    <li><b>{{{localize "PF1.Help.Nav.Special"}}}</b></li>
    <ul>
        <li><a href="systems/pf1/help/special/formulas.hbs">{{{localize "PF1.Help.Content.Special.Formulas.Label"}}}</a></li>
        <li><a href="systems/pf1/help/special/compendium-browsers.hbs">{{{localize "PF1.Help.Content.Special.CompendiumBrowsers.Label"}}}</a></li>
    </ul>
</ul>
